 @media (min-width: 375px)  {

    /* HEADER */
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger-menu {
        display: flex;
    }
    
    .col-nav .navbar-list {
        display: none;
    }
}
    



@media (min-width: 810px) {
    
    /* HEADER */
     

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger-menu {
     display: flex;
    }

    .col-nav .navbar-list {
        display: none;
    }
} 


@media  (min-width: 1920px) { 

   /* HEADER */
   
    .row {
    display: flex;
    flex-wrap: wrap;
}

   .col-nav .navbar-list {
    display: flex;
    gap: 30px;
    }

    .hamburger-menu {
        display: none;
    }

    /* SECTION SKILLS */

    .col.col-8 {
        flex-basis: calc((100% / 12) * 8); 
    }

    .col.col-card-body {
        width: 50%;
    }

    .col.col-card-image {
        width: 50%;
    }
}