 @media (min-width: 375px)  {

    /* HEADER */
    
    .hamburger-menu {
        display: flex;
    }
    
    .col-nav .navbar-list {
        display: none;
    }
}
    



@media (min-width: 810px) {
    
    /* HEADER */

    .hamburger-menu {
     display: flex;
    }

    .col-nav .navbar-list {
        display: none;
    }
} 


@media  (min-width: 1920px) { 

   /* HEADER */
   
   .col-nav .navbar-list {
    display: flex;
    gap: 30px;
    }

    .hamburger-menu {
        display: none;
    }
}