/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
    display: block;
   
}



a {
    text-decoration: none;
    color: currentColor;
    display: block;
}



/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
    

}

/* layouts */

/* .container-large {
    max-width: 1220px;
    margin: 0 auto;
   
} */

/* .container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
} */

section {
    padding: 0 30px;
}




.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-item {
    display: flex;
    flex-wrap: nowrap;
}

.text-align {
    text-align: center;
}

.align-stretch {
    align-items: stretch;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.button-blue {
    display: inline-block;
    background-color: var(--blue);
    color: white;
}

.button-mini {
    background-color:var(--purple);
    border-radius: 100%;
    padding: 0 15px;
    display: inline-block;
   

}


h3 {
    font-size: 22px;
    
}

section  {
    font-size: 18px;
    
}

/* HEADER*/

.page-header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0;
}

.col-nav .navbar-list {
    display: inline-block;
}

.navbar-list > li {
    line-height: 40px;
}

.hamburger-menu {
    display: none;
}
 
/* END HEADER */

/* MAIN  */

main > section:nth-child(odd) {
    background-color: var(--light);
}

main > section:nth-child(even) {
    background-color: var(--purple);
}


/* SECTION SKILLS */

.section-skills {
    padding-top: 48px;
    padding-bottom: 102px;
}

.section-skills .row-card {
    background-color: var(--light-blue);
    border-radius: 20px;
}

.col-card-body {
    padding: 40px  25px;
    
}

.col-card-body >  .card-text{
    padding: 40px 0;
}

/* SECTION PLANNIG */

.section-planning  {
    padding-top:57px;
    padding-bottom: 57px;
}

.col-planning {
    padding-bottom:34px;
}

.col-body .col-body-planning {
    color: var(--light);
}

.col-body-planning > h2 {
    padding-top: 90px;
    padding-bottom: 55px ;
}

.section-planning .card-body-caption{
   text-align: center;
   padding-top: 30px;
}

.card.card-white {
    background-color: var(--light);
    border-radius: 20px;
    padding: 35px 5px;
}

.body-caption-title, .body-caption-text {
    margin-bottom: 35px;
}





/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 2px solid greenyellow;
    padding: 10px;
}

/* .debug .row {
    border: 2px solid black;
    padding: 10px;
}
.debug [class^="col"] {
    border: 2px solid orange;
    padding: 10px;
}

.debug .col.col-card-body, .card {
    border: 2px solid red ;
    padding: 10px;
} */



