/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}



/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
    

}

/* layouts */

.container-lg {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.col {
    display: inline-block;
}


.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}



.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.button-blue {
    display: inline-block;
    background-color: var(--blue);
    color: white;
}

h3 {
    font-size: 22px;
    color: currentColor;
}

section p {
    font-size: 18px;
    color: currentColor;
}

/* HEADER*/

.page-header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0;
}

.col-nav .navbar-list {
    display: inline-block;
}

.navbar-list > li {
    line-height: 40px;
}

.hamburger-menu {
    display: none;
}
 
/* END HEADER */

/* MAIN  */

main > section:nth-child(even) {
    background-color: var(--light);
}

main > section:nth-child(odd) {
    background-color: var(--purple);
}


/* SECTION SKILLS */

.section-skills .row-card {
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 0 25px;

}

.row.row-wrapper {
    padding: 0 25px;
}

.col-card-body, .col-card-image {
    padding-top: 40px;
}

/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid greenyellow;
    padding: 10px;
}

.debug .row {
    border: 1px solid black;
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



